[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
django-extensions = "*"
coverage = "*"
pytest = "*"
autopep8 = "*"
psycopg2-binary = "*"
pycodestyle = "*"

[requires]
python_version = "3.8"
